#calendarContainer{

    width:80%;
    height: 100%;
    margin:auto;
  
}

.eventTitle{

    margin: 0;
}

.evenContainer{


    height: 100%;
}

.dateContainer{
    background-color: #aadeff3f;
}

.classContainer{


background-color: #64FF81;
}