.bookingSubject {
    background-color: rgba(243, 250, 249, 0.279);
    color: black;
    width: 20%;
    height: 20vh;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    cursor: pointer;
}



.subjectContainer{

    width: 100%;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:12px;


}

.bookingSubject:hover {
    scale: 1.05;
        box-shadow: 0 0 10px #284845;
}

.subjectContainer .MuiAvatar-root{

    width:100px;
    height: 100px;

}
