#firstClassCardContent .MuiAvatar-root{

    width:200px;
    height: 200px;
    display: flex;
    

}

#firstClassCard{

    padding: 1% 2%;
    margin: 2% 0;
}

#firstCardAction{
    margin-top:-4%;
    display: flex;
    justify-content: end;
}

#firstCardAction button{

    color:white

}
#firstClassCard:hover {
    scale: 1.02;
        box-shadow: 0 0 10px #284845;
}