#subjects-page {
    color: black;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 80vh;
    align-items: center;
   
    width: 80vw;
    margin-left: 12vw;
    margin-top: 15vh;
}

