#header{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    height: 10vh; 
    width: 100vw;
    position: fixed; 
    z-index: 20; 
    /* background-color: #41D4D4; */
    background-color: #284845;
    
    z-index: 50;
    
}

#logo{
    width: 12%;
    border-radius: 5px;
    /* filter: brightness(1.4); */
    margin-left: 10px;
}

#book {
    width: 3.5%;
    margin-left: 1vw;
    filter: brightness(1.8);

}

