 
.dateElementContainer{

    display: flex;
    align-items: start;
    gap:10px
 
}


.dateElementContainer h6 {

    line-height: 1;
}


.dateElementContainer svg{

    width:20px
}

#cancelButton{ color:white}

#avatarImg{

    width:120px;
    height: 120px;
    margin: auto;
    display: flex;
}