#root {
  margin: 0;
}

body {
  margin: 0;
  overflow: hidden;
  background-color: #ffffff;
}

.auth {
  height: 100%;
  width: 100%;
  display: grid;
  align-content: center;
  justify-content: center;
  top: 280px;
  min-width: 20%;
  margin-top:10vh;
 /*  background-color: #284845; */
  /* background-color: #dae9d9; */
 /*  background-color: rgb(234, 247, 246); */
 background-image: linear-gradient(black, black), url('./assets/images/edwin-andrade-4V1dC_eoCwg-unsplash.jpg');
 background-repeat: no-repeat;
 background-size:cover ;
 background-position: center;
background-blend-mode: saturation;
}



@keyframes scroll {
  100% {
    background-position: 0px -400%;
  }
}



.mainContainer , #mainContainer{
  width: 92vw;
  margin-left: 8vw;
  margin-top:10vh;
  overflow-y: scroll;


}


#BookingContainer{

  width:80%;
  margin: auto;
  padding: 2% 0%

}